<ion-view title="Aaron Pineda Contact" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/XJ9yxHJeRDa5d5xeqhRD_phone-contacts.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="aaronPinedaContact-form2" class="list">
      <label class="item item-input" id="aaronPinedaContact-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <a ui-sref="create()" id="aaronPinedaContact-button1" class="button button-positive button-block icon-right ion-android-add">Create contact</a>
    <ion-list id="aaronPinedaContact-list5">
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item30" ui-sref="myNumber()">
        <img src="img/7lhBUh3PRgmhEmzPcxw2_10574321_1524071577829867_6975262682554152776_n.jpg">
        <h2>My Number</h2>
        <p>09056086588</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <ion-list id="aaronPinedaContact-list4">
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item24" ui-sref="allen()">
        <img src="img/tVdvYCvMQb6nXkhrVx5x_download.jpg">
        <h2>Allen Soriano</h2>
        <p>09277548565</p>
      </ion-item>
    </ion-list>
    <ion-list id="aaronPinedaContact-list1">
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item25" ui-sref="christian()">
        <img src="img/Xz7N259RXOUrXjtwTqHd_ita_by_p0ks.jpg">
        <h2>Christian Yabut</h2>
        <p>09352165842</p>
      </ion-item>
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item26" ui-sref="jeno()">
        <img src="img/M5mzO0tRs6Zh7SUwzRp0_d83510f864bff007bea13cbe2c7f1088.jpg">
        <h2>Jeno Pineda</h2>
        <p>09677548621</p>
      </ion-item>
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item27" ui-sref="joao()">
        <img src="img/QXfw4pUAQQeCjQvPljXX_Sultan-Kosen_2166776b.jpg">
        <h2>Joao Cruz</h2>
        <p>09352264584</p>
      </ion-item>
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item28" ui-sref="lois()">
        <img src="img/bcJZCPIR2qKWIQUhQlZA_images.jpg">
        <h2>Lois Pamintuan</h2>
        <p>09350965483</p>
      </ion-item>
      <ion-item class="item-avatar" id="aaronPinedaContact-list-item29" ui-sref="rafael()">
        <img src="img/xzw4yazmReQxatjVRkXi_maxresdefault.jpg">
        <h2>Rafael Bondoc</h2>
        <p>09277565852</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>