<ion-view title="allen" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/wpdcHAPSXaIUGeIo9Xyg_download.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="allen-form3" class="list">
      <label class="item item-input" id="allen-textarea1">
        <span class="input-label"> Allen Sorian</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="allen-textarea2">
        <span class="input-label">Mobile: 09056203024</span><textarea placeholder=""></textarea></label>
      <button id="allen-button3" class="button button-positive button-small button-block icon ion-android-send">Message</button>
      <button id="allen-button2" class="button button-positive button-small button-block icon ion-android-call">Call </button>
    </form>
  </ion-content>
</ion-view>