<ion-view title="Create" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="create-form10" class="list">
      <ion-item class="item-icon-left item-icon-right dark" id="create-list-item32">
        <i class="icon ion-ionic"></i>CREATE CONTACT
        <i class="icon ion-android-create"></i>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <label class="item item-input" id="create-input1">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="create-input2">
        <span class="input-label">Organization</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="create-input3">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="create-input4">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="create-input5">
        <span class="input-label">Groups</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="create-button-bar1" class="button-bar">
      <a ui-sref="aaronPinedaContact()" id="create-button20" class="button button-positive button-block">CANCEL</a>
      <a ui-sref="aaronPinedaContact()" id="create-button21" class="button button-positive button-block">SAVE</a>
    </div>
  </ion-content>
</ion-view>