<ion-view title="Jeno" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oXNTQE4sSUSToF1pLnGs_d83510f864bff007bea13cbe2c7f1088.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="jeno-form5" class="list">
      <label class="item item-input" id="jeno-textarea5">
        <span class="input-label">Jeno Pineda</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="jeno-textarea6">
        <span class="input-label">Mobile: 09675426485</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="jeno-button6" class="button button-positive button-small button-block icon ion-android-send">Message</button>
    <button id="jeno-button7" class="button button-positive button-small button-block icon ion-android-call">Call</button>
  </ion-content>
</ion-view>