<ion-view title="Joao" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Ah1BLwzjSIeRvk42zPAG_Sultan-Kosen_2166776b.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="joao-form6" class="list">
      <label class="item item-input" id="joao-textarea7">
        <span class="input-label">Joao Cruz</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="joao-textarea8">
        <span class="input-label">Mobile: 09277565852</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="joao-button8" class="button button-positive button-small button-block icon ion-android-send">Message</button>
    <button id="joao-button9" class="button button-positive button-small button-block icon ion-android-call">Call</button>
  </ion-content>
</ion-view>