<ion-view title="My number" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/YqcuhRFmRaKAnPujF0DS_10574321_1524071577829867_6975262682554152776_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="myNumber-form9" class="list">
      <div class="spacer" style="width: 300px; height: 55px;"></div>
      <label class="item item-input" id="myNumber-textarea13">
        <span class="input-label">My number</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="myNumber-textarea14">
        <span class="input-label">09056086588</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="aaronPinedaContact()" id="myNumber-button14" class="button button-positive button-block">Share Info</a>
  </ion-content>
</ion-view>