<ion-view title="Rafael" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="rafael-form8" class="list">
      <div>
        <img src="img/d7VXrL2lTeulajxXrMd8_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <label class="item item-input" id="rafael-textarea11">
        <span class="input-label">Rafael Bondoc</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="rafael-textarea12">
        <span class="input-label">Mobile: 09277523852</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="rafael-button12" class="button button-positive button-small button-block icon ion-android-send">Message</button>
    <button id="rafael-button13" class="button button-positive button-small button-block icon ion-android-call">Call</button>
  </ion-content>
</ion-view>